.control-tab {
    text-align: center;
    padding: 0 50px;
    box-sizing: border-box;
}
@media (width <= 600px) {
    .control-tab{
        height: 45%;
        width: 99%;
    }
    .whitespace{
        width: 90% !important;
    }
}
.switch {
    margin: 20px 0;
    padding: 20px;
}
.switch p{
    margin: 0;
}
.switch-button{
    width: 53px;
    height: 20px;
    background-color: black ;
    margin: auto;
    border: 3px solid black;
    cursor: pointer;
}
.switch-button-slider{
    background-color: blue;
    height: 20px;
    width: 25px;
}
.whitespace{
    width: 200px;
    height: 60px;
    background-color: aliceblue;
    margin: 10px auto;
    text-align: center;
    line-height: 60px;
}
.volume-slider{
    height: 20px;
    margin: 15px 0;
    width: 100%;
    cursor: pointer;
}
.volume-slider::-moz-range-track {
    background-color: var(--mainbackground);
    height: 10px;
    border-radius: 5px;
  }
  .volume-slider::-moz-range-thumb{
    border: 1px solid var(--mainbackground);
    cursor: pointer;
    height: 30px;
    width: 10px;
    border-radius: 0;
  }
