.control-tab {
    text-align: center;
    border: 1px solid black;
    padding: 0 50px;
    box-sizing: border-box;
}
.switch {
    margin: 20px 0;
    padding: 20px;
}
.switch p{
    margin: 0;
}
.switch-button{
    width: 53px;
    height: 20px;
    background-color: black ;
    margin: auto;
    border: 3px solid black;
}
.switch-slider{
    background-color: blue;
    height: 20px;
    width: 25px;
    float: right;
}
.whitespace{
    width: 200px;
    height: 60px;
    background-color: aliceblue;
    margin: 10px auto;
    text-align: center;
    line-height: 60px;
}
input[type=range]{
    height: 26px;
    margin: 15px 0;
    width: 100%;
}
