.drum-machine{
    width: 660px;
    height: 320px;
    border: 5px solid var(--borderline);
    background-color: var(--drumbackground);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
@media (width <= 650px) {
    .drum-machine{
        height: 99%;
        width: 99%;
    }
    .drumPads{
        margin-top: 60px;
        width: 100% !important;
    }
}
.logo{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 150%;
}
.drumPads {
    box-sizing: border-box;
    display: grid;
    width: 50%;
    gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 25px;
    
}

.drum-pad {
    box-shadow: 2px 2px 4px;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: box-shadow 0.5s;
}
.drum-pad:active {
    background-color: rgb(128, 195, 253);
    box-shadow: none;
    
  }
.offscreen{
    margin: auto;
    font-size: 20pt;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--drumbackground);
}