.drum-machine{
    width: 660px;
    height: 320px;
    border: 5px solid var(--borderline);
    background-color: var(--drumbackground);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.logo{
    position: absolute;
    top: 5px;
    right: 10px;
}
.drumPads {
    box-sizing: border-box;
    display: grid;
    width: 50%;
    gap: 10px;
    grid-template-columns: auto auto auto;
    border: 1px solid black;
    padding: 25px;
    height: 100%;
}

.drum-pad {
    box-shadow: 3px 3px 5px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 5px;
}
.drum-pad:hover{
    background-color: grey;
}